[submodule "WaterwitchGUI/include/imgui"]
	path = WaterwitchGUI/include/imgui
	url = https://github.com/ocornut/imgui
[submodule "WaterwitchGUI/include/glfw"]
	path = WaterwitchGUI/include/glfw
	url = https://github.com/glfw/glfw
[submodule "WaterwitchGUI/include/json"]
	path = WaterwitchGUI/include/json
	url = https://github.com/nlohmann/json
[submodule "ros_workspace/src/cpp_frontend/include/imgui"]
	path = ros_workspace/src/cpp_frontend/include/imgui
	url = https://github.com/ocornut/imgui
[submodule "ros_workspace/src/cpp_frontend/include/glfw"]
	path = ros_workspace/src/cpp_frontend/include/glfw
	url = https://github.com/glfw/glfw
[submodule "ros_workspace/src/cpp_frontend/include/json"]
	path = ros_workspace/src/cpp_frontend/include/json
	url = https://github.com/nlohmann/json
